input {
  outline: 1px solid  #3CBCC3;
}


input:focus {
  outline: 3px solid  #3CBCC3;
}



.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}




@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}