.firstaid-content {
    color: #1D1D2C;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    max-width: 80%;
}

.choke_img {
    max-width: 250px;
    max-height: 250px;
}

.choke_flex_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
}

.BITE {
    max-width: 250px;
    float: right;
}

.SUNICON {
    max-width: 250px;
    float: left;
}