.hero {
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.block-links-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 150px;
    min-width: 200px;
    max-width: 800px;
    min-height: 200px;
    max-height: 500px;
    background-color:#F7F4E9;
    border-radius: 5px;
}

.block-link {
    max-width: 200px;
    max-height: 200px;
    border: 0;
    margin: 25px;
}

.LINK-img {
    width: 250px;
    height: 250px;
    border: 0;
}

.first-aid-link-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 150px;
    min-width: 200px;
    max-width: 800px;
    min-height: 200px;
    max-height: 500px;
    background-color:#F7F4E9;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    
  }