.hero {
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.block-links-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    padding-left: 0;
    padding-right: 0;
}

.block-link {
    min-width: 200px;
    min-height: 200px;
    border: 0;
    margin: 25px;
}

.LINK-img {
    width: 250px;
    height: 250px;
    border: 0;
}

.first-aid-link-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 150px;
    min-width: 200px;
    max-width: 500px;
    min-height: 200px;
    max-height: 300px;
    border: 5px solid gray;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .block-links-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }